.botonCarrito-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.botonCarrito{
    width: 90%;
    height: 50px;
    background-color:#FDE767;
    border-radius: 25px;
    text-transform: uppercase;
    font-family:var(--fuentePrincipal);
    font-size: 13px;
    font-weight: bold;
    border: 2px solid;
    cursor: pointer;

    &&:hover{
    background-color:black;
    letter-spacing: 1.5px;
    color: aliceblue;
    transition: .1s all linear;

}
}