.carrito-contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100px;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.contador-productos-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    color: aliceblue;
    transform: translateY(10px);
    font-weight: bold;
    font-size: 14px;

}
.carrito-logo{
    width: 55px;
    height: 55px;
    position: absolute;
    right: 0;
    margin-right: 20px;
}