.carrito-contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100px;
    position: absolute;
    right: 0;
}

.contador-productos-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color:aliceblue;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    color:black;
    transform: translate(-5px, 10px);
    font-weight: bold;
    font-size: 12px;
}

.carrito-logo{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    cursor: pointer;
}