@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
:root{

    --fuentePrincipal : 'DM Serif Display', serif;

    --cajasombreadaIzquierdaYAbajo : 10px 10px 5px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.234);
    -moz-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.045);
}

*{
    margin: 0;
    padding: 0;
}

.listado-ofertas{
    margin-left: 150px;
}
.contenedor-oferta{
    display: flex;
    flex-direction: column;
    width: 280px;
    min-height: 450px;
    /* background: #F8FAE5;  */
    background: rgb(208, 72, 72);
    background: linear-gradient(180deg, rgb(208, 72, 72) 10%, rgba(253,240,209,1) 50%, rgba(253,240,209,1) 100%);
    box-shadow: var(--cajasombreadaIzquierdaYAbajo);
    border-radius: 15px;
    position: relative;
}

.logo-oferta{
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    transform: translate(-20px,-25px);

    && img{
        width: 100%;
        height: 100%;
    }
}

.contenedor-imagen-oferta{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;  
    && img{
        width: 80%;
        height: 80%;
    }
}

.contenedor-detalle-oferta {
    height: 50%;
    /* background: #F8FAE5; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    && h1{font-size: 25px}
    h2{font-size: 45px;}
    h3{font-size: 12px;text-align: left;}
}

.titulo-oferta{
    position: absolute;
    top: 0;
}
.comercio-oferta{
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    && h3{text-align: center;font-size: 14px;}
}

.comercio-nombre-ubicacion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    && img{
        width: 25px;
        height: 25px;
    }
}


