.contenedor-checkbox{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
    margin-left: 20px;
}

.contenedor-filtros{
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 50;
    width: 260px;
    height: 83vh;
    padding-bottom: 30px;
    overflow-y: scroll;
    background-color:azure;
    top:0;
    margin-top: 100px;
}

#checkbox{
    width: 20px;
    height: 20px;
}

.nombre-checkbox{
    text-transform:capitalize;
}

.contador-productos span{
    font-weight: bold;
    font-size: 14px;
}