.contenedor-checkbox{
    display: flex;
    align-items: center;
    margin: 10px 10px 0 15px;
    gap: 5px;
}

.contenedor-filtros{
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 50;
    height: 100%;
    padding-bottom: 30px;
    overflow-y: scroll;
    background-color:azure;
    top:0;
    margin-top: 100px;
    scrollbar-width:thin;
}

#checkbox{
    width: 20px;
    height: 20px;
}

.nombre-checkbox{
    text-transform:capitalize;
    font-size: 15px;
}

.contador-productos span{
    font-weight: bold;
    font-size: 14px;
}